<nav class="navbar navbar-dark nav-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <button class="btn image disable"></button> PopCorn
    </a>
    <form class="d-flex">
      <button class="btn btn-outline-light" type="submit">Sair</button>
    </form>
  </div>
</nav>
<nav class="nav-secundario navbar-dark nav-sec-color">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li>
          <a class="dropdown-item word-color" href="#" routerLink="salas"><h5>Salas</h5></a>
      </li>
      <li>
          <a class="dropdown-item word-color" href="#" routerLink="filmes"><h5>Filmes</h5></a>
      </li>
      <li>
          <a class="dropdown-item word-color" href="#" routerLink="sessoes"><h5>Sessões</h5></a>
      </li>
    </ul>
  </div>
</nav>
