<div class="margin">
  <h3>{{titulo}}</h3>
  <hr>
  <button class="btn image-add"></button>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Duração</th>
        <th scope="col">Operações</th>
        <th scope="col">Operações</th>
        <th scope="col">Operações</th>
        <th scope="col">Operações</th>
        <th scope="col">Operações</th>
        <th scope="col">Operações</th>
        <th scope="col">Operações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sessao of sessoes">
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>sessao.</td>
        <td>
          <button class="btn image-remove"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
